html {
  font-size: 10px;
  @media (min-width: 1300px) {
    font-size: 14px;
  }
}

body {
  position: relative;
  font-family: Roboto-Regular, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto-Black, Arial, sans-serif;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.05rem;
  @media (min-width: 640px) {
    font-size: 36px;
  }
}

h1 {
  font-size: 12px;
  letter-spacing: 0.05rem;
  @media (min-width: 640px) {
    font-size: 24px;
    white-space: pre-line;
  }
  @media (min-width: 1500px) {
    font-size: 36px;
  }
}

h3 {
  font-size: 15px;
  letter-spacing: 0.05rem;
  @media (min-width: 640px) {
    font-size: 30px;
  }
 }

h4 {
    font-size: 12px;
    letter-spacing: 0.05rem;
  @media (min-width: 640px) {
    font-size: 24px;
  }
}

h5 {
  font-size: 1.286rem;
  margin-bottom: 7px;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.source {
  display: block;
  font-size: 9px;
  color: #8d8d8d;
  line-height: 9px;
  @media (min-width: 640px) {
    font-size: 18px;
    line-height: 18px;
  }
  @media (min-width: 1500px) {
    font-size: 11px;
  }
}

.black {
  color: black;
}

.black:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.left {
  margin: 0;
}

#points {
  font-size: 35px;
  margin: 0 23px;
  @media (min-width: 1500px) {
    margin: 0 8px;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.block-left {
  display: none;
  @media (min-width: 1500px) {
    display: block;
  }
}

.sidebar {
  width: 171px;
  padding-top: 30px;
  margin-left: 31px;
}

.post-padding {
  position: relative;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 2px;
  @media (min-width: 640px) {
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 40px;
    padding-right: 4px;
  }
  @media (min-width: 1500px) {
    padding-left: 86px;
    padding-right: 93px;
  }
}

.popular-content {
  max-width: 1050px;
  margin: 0 auto;
}

.post-padding:before {
  @media (min-width: 1500px) {
    position: absolute;
    content: '';
    width: 1050px;
    height: 1px;
    background-color: #cccccc;
    bottom: 5px;
    left: -27px;
  }
}




