html {
  font-size: 10px;
  @media (min-width: 1300px) {
    font-size: 14px;
  }
}

body {
  position: relative;
  font-family: Roboto-Regular, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto-Black, Arial, sans-serif;
}

h1, h2 {
  font-size: 36px;
  letter-spacing: 0.05rem;
}

h3 {
   font-size: 1.5rem;
  @media (min-width: 400px) {
    font-size: 30px;
    letter-spacing: 0.05rem;
  }
 }

h4 {
  font-size: 1.4rem;
  @media (min-width: 400px) {
    font-size: 24px;
    letter-spacing: 0.05rem;
  }
}

h5 {
  font-size: 1.286rem;
  margin-bottom: 7px;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.source {
  display: block;
  font-size: 11px;
  color: #8d8d8d;
  line-height: 18px;
}

.black {
  color: black;
}

.black:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.left {
  margin: 0;
}

#points {
  font-size: 35px;
  margin: 0 8px;
}


.wrap {
  display: flex;
  justify-content: space-between;
}

.block-left {
  display: none;
  @media (min-width: 1500px) {
    display: block;
  }
}

.content2 {
  max-width: 1000px;
}

.sidebar {
  width: 196px;
  padding-top: 30px;
  margin-left: 31px;
}

.post-padding {
  padding-top: 28px;
  padding-bottom: 3px;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  @media (min-width: 400px) {
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 60px;
    padding-right: 50px;
  }
  @media (min-width: 1300px) {
    padding-left: 64px;
  }
}

.popular-content {
  max-width: 1050px;
  margin: 0 auto;
}

.post-padding:before {
  @media (min-width: 1500px) {
    position: absolute;
    content: '';
    width: 1050px;
    height: 1px;
    background-color: #cccccc;
    bottom: 5px;
    left: -27px;
  }
}




