.block-right {
  width: 100%;
  &__header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    @media (min-width: 400px) {
      padding: 0;
    }
    @media (min-width: 641px) {
      display: block;
    }
  }

  &__header-logo {
    margin-top: 20px;
    margin-right: 10%;
    @media (min-width: 641px) {
      display: none;
    }
    a {
      font-size: 2.9rem;
      line-height: 20px;
      @media (min-width: 565px) {
        font-size: 4.9rem;
        line-height: 40px;
      }
    }
  }

  &__header-title {
    display: flex;
    flex-wrap: wrap;
    h1 {
      order: 2;
      text-align: left;
      @media (min-width: 641px) {
        text-align: center;
      }
      @media (min-width: 641px) {
        margin-top: 53px;
        margin-bottom: 26px;
      }
    }
    @media (min-width: 641px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__search {
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    @media (min-width: 641px) {
      margin-top: 0;
      margin-bottom: 36px;
    }
  }
}