.block-right {
  width: 100%;

  &__header {
    padding: 13px 19px 0 19px;
    display: flex;
    justify-content: space-between;
    @media (min-width: 640px) {
      padding: 26px 39px 0 39px;
    }
    @media (min-width: 1500px) {
      padding: 0;
      display: block;
    }
  }

  &__header-logo {
    margin-top: 10px;
    margin-right: 5%;
    @media (min-width: 640px) {
      margin-top: 20px;
      margin-right: 10%;
    }
    @media (min-width: 1500px) {
      display: none;
    }
  }

  &__header-title {
    order: 2;
    h1 {
      text-align: left;
      @media (min-width: 1500px) {
        text-align: center;
        margin-top: 53px;
        margin-bottom: 26px;
      }

    }
    @media (min-width: 1500px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__search {
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    order: 1;
    @media (min-width: 640px) {
      margin-top: 20px;
    }
    @media (min-width: 1500px) {
      order: 2;
      margin-top: 0;
      margin-bottom: 36px;
    }
  }
}