.content {
  max-width: 640px;
  margin: 0 auto;
  @media (min-width: 1500px) {
    max-width: 1050px;
  }
  h1 {
    text-align: center;
    margin-bottom: 35px;
  }

  &__main-photo {
    position: relative;
    @media (min-width: 1500px) {
      padding-bottom: 37px;
      max-width: 1000px;
      position: relative;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__main-photo:before {
    @media (min-width: 1500px) {
      position: absolute;
      content: '';
      width: 1050px;
      height: 1px;
      background-color: #cccccc;
      bottom: 5px;
      left: -25px;
    }
  }

  &__photo-title {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    @media (min-width: 1500px) {
      position: relative;
      background: none;
    }
    h2 {
      margin-top: 10px;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 0;
      a {
        color: white;
      }
      @media (min-width: 1500px) {
        margin-bottom: -1px;
        margin-top: 10px;
        a {
          color: black;
        }
      }
    }
  }

  &__search {
    position: relative;
    margin: 0 auto;
    margin-bottom: 35px;
    @media (min-width: 1500px) {
      max-width: 408px;
    }
    img {
      position: absolute;
      width: 23px;
      height: 23px;
      right: 16px;
      top: 4px;
      @media (min-width: 1500px) {
        top: 11px;
      }
    }
  }

  &__input-search {
    width: 100%;
    border: 1px solid black;
    font-size: 1.42rem;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 7px;
    display: block;
    margin-right: 20px;
    @media (min-width: 641px) {
      padding-top: 12px;
      padding-bottom: 13px;
    }
  }

  &__input-search::placeholder {
    color: transparent;
    @media (min-width: 1500px) {
      color: black;
    }
  }


  &__three-photos {
    display: flex;
    h4 {
      margin-top: 4px;
      margin-bottom: 7px;
    }
  }

  &__three-photo {
    max-width: 270px;
    margin-right: 30px;
  }

  &__three-photo {
    flex: 1;
  }

  &__three-photo:last-child {
    display: none;
    @media (min-width: 1500px) {
      display: block;
    }
    margin-right: 0;
  }

  &__post {
    margin-bottom: 30px;
    justify-content: flex-start;
  }

  &__post:last-child {
    margin-bottom: 0;
  }

  &__post-photo {
    margin-right: 30px;
    img {
      min-width: 270px;
    }
  }

  &__post-title {
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__pagination {
    margin: 30px auto 40px;
    max-width: 312px;
    @media (min-width: 1500px) {
      margin: 30px auto 220px;
    }
  }

  &__list-post {
    padding-bottom: 62px;
    margin-bottom: 30px;
  }

  &__list-pagination {
    padding: 0;
    padding-left: 5%;
    @media (min-width: 500px) {
      padding-left: 0;
    }
    li {
      display: inline;
      font-size: 15px;
      margin-right: 6px;
      @media (min-width: 500px) {
        font-size: 24px;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }

  &__item-pagination {
    color: black;
    font-family: Roboto-Black, Arial, sans-serif;
    padding: 12px 18px 7px;
    border: 1px solid;
  }

  &__item-pagination:hover {
    border-color: $accent-color;
  }

  &__item-pagination--active {
    border-color: $accent-color;
  }
}

