.content {
  max-width: 320px;
  margin: 0 auto;
  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 1200px) {
    max-width: 1050px;
  }
  h1 {
    margin-bottom: 17px;
    @media (min-width: 640px) {
      text-align: center;
      margin-bottom: 35px;
    }
  }

  &__search-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    order: 1;
    margin-bottom: 21px;
    @media (min-width: 640px) {
      margin-bottom: 42px;
    }
    @media (min-width: 1200px) {
      align-items: center;
      order: 2;
      padding: 0;
      width: 271px;
      margin-bottom: 0;
      margin-right: 16px;
    }
  }

  &__logo {
    max-width: 92px;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__main-photo {
    position: relative;
    @media (min-width: 1200px) {
      padding-bottom: 37px;
      position: relative;
    }
    img {
      display: block;
      margin: 0 auto;
      object-fit: cover;
      height: 279px;
      @media (min-width: 640px) {
        height: 558px;
      }
      @media (min-width: 1200px) {
        object-fit: none;
        height: auto;
      }
    }
  }

  &__photo-title {
    padding-bottom: 10px;
    padding-top: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    @media (min-width: 640px) {
      padding-bottom: 20px;
      padding-top: 23px;
    }
    @media (min-width: 1200px) {
      position: relative;
      background: none;
      padding: 0;
    }
    h2 {
      margin-top: 5px;
      text-align: center;
      padding-left: 22px;
      padding-right: 22px;
      margin-bottom: 1px;
      a {
        color: white;
      }
      @media (min-width: 640px) {
        margin-top: 10px;
        text-align: center;
        padding-left: 45px;
        padding-right: 45px;
        margin-bottom: 3px;
      }
      @media (min-width: 1200px) {
        margin-bottom: -1px;
        margin-top: 10px;
        a {
          color: black;
        }
      }
    }
  }

  &__search {
    position: relative;
    margin: 0 auto;
    margin-bottom: 35px;
    @media (min-width: 1200px) {
      max-width: 408px;
    }
    img {
      position: absolute;
      width: 15px;
      height: 15px;
      right: 6px;
      top: 6px;
      @media (min-width: 640px) {
        width: 23px;
        height: 23px;
        right: 16px;
        top: 15px;
      }
      @media (min-width: 1200px) {
        top: 11px;
      }
    }
  }

  &__input-search {
    width: 100%;
    border: 1px solid black;
    font-size: 10px;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    margin-right: 10px;
    @media (min-width: 640px) {
      font-size: 20px;
      padding-left: 10px;
      padding-top: 12px;
      padding-bottom: 13px;
      margin-right: 20px;
    }
  }

  &__input-search::placeholder {
    color: transparent;
    @media (min-width: 1200px) {
      color: black;
    }
  }

  &__three-photos {
    position: relative;
    @media (max-width: 1199px) {
      border-bottom: 1px solid #cccccc;
    }
    h4 {
      margin-top: 2px;
      margin-bottom: 7px;
      @media (min-width: 640px) {
        margin-top: 4px;
        margin-bottom: 14px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 7px;
      }
    }
  }

  &__three-photos:after {
    @media (min-width: 1200px) {
      position: absolute;
      content: '';
      width: 1050px;
      height: 1px;
      background-color: #cccccc;
      top: -6px;
      left: 0;
    }
  }

  &__three-photo {
    display: inline-block;
    vertical-align: top;
    max-width: 128px;
    margin-right: 9px;
    @media (min-width: 640px) {
      max-width: 270px;
      margin-right: 18px;
    }
    @media (min-width: 1200px) {
      margin-right: 27px;
    }
  }

  &__three-photo:last-child {
    display: none;
    @media (min-width: 1200px) {
      display: inline-block;
      margin-right: 0;
    }
    margin-right: 0;
  }

  &__three-photo:first-child {
    @media (max-width: 639px) {
      margin-right: 6px;
    }
  }

  &__post {
    margin-bottom: 30px;
    justify-content: flex-start;
  }

  &__post:last-child {
    margin-bottom: 0;
  }

  &__post-photo {
    margin-right: 30px;
    img {
      min-width: 270px;
    }
  }

  &__post-title {
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__pagination {
    margin: -8px 0 43px 20px;
    @media (min-width: 640px) {
      margin: 55px 0 87px 40px;
    }
    @media (min-width: 1200px) {
      margin: 30px auto 220px;
      max-width: 329px;
    }
  }

  &__list-post {
    padding-bottom: 62px;
    margin-bottom: 30px;
    padding-right: 39px;
    @media (min-width: 640px) {
      padding-bottom: 30px;
    }
    @media (max-width: 1199px) {
      border-bottom: 1px solid #cccccc;
    }
    @media (min-width: 1200px) {
      padding-right: 93px;
      padding-bottom: 62px;
    }
  }

  &__list-pagination {
    padding: 0;
    li {
      display: inline;
      font-size: 7px;
      margin-right: 6px;
      @media (min-width: 640px) {
        font-size: 15px;
        margin-right: 12px;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }

  &__item-pagination {
    color: black;
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 16px;
    padding: 7px 12px 7px;
    border: 1px solid;
    @media (min-width: 640px) {
      font-size: 33px;
      padding: 15px 24px 14px;
    }
    @media (min-width: 1200px) {
      padding: 12px 18px 7px;
      font-size: 24px;
    }
  }

  &__item-pagination:hover {
    border-color: $accent-color;
    color: $accent-color;
  }

  &__item-pagination--active {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.margin-block-right {
  @media (min-width: 1200px) {
    margin-left: 100px;
  }
}
