.header {
  margin-bottom: 32px;
  &__logo  {
    width: 93px;
    @media (min-width: 640px) {
      width: 187px;
    }
    @media (min-width: 1500px) {
      width: 71px;
    }
  }

  &__wrap {
    @media (max-width: 639px) {
      width: 170px;
    }
    display: flex;
    flex-direction: column;
  }
}