.mobile-nav {
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
  @media (min-width: 640px) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
  &__wrap {
    padding: 0 19px 0 18px;
    @media (min-width: 640px) {
      padding: 0 39px 0 37px;
    }
  }
  &__item {
    font-family: Roboto-Black, Arial, sans-serif;
    font-size: 14px;
    border: none;
    background-color: #e9e9e9;
    position: relative;
    cursor: pointer;
    padding: 12px 22px 11px 14px;
    @media (min-width: 640px) {
      font-size: 29px;
      padding: 24px 45px 22px 28px;
    }
  }
  &__item:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 4px solid black;
    top: 17px;
    right: 12px;
    @media (min-width: 640px) {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 8px solid black;
      top: 37px;
      right: 20px;
    }
  }

  &__list {
    font-family: Roboto-Black, Arial, sans-serif;
    display: none;
    max-width: 274px;
    background-color: #e9e9e9;
    position: absolute;
    z-index: 100;
    font-size: 14px;
    @media (min-width: 640px) {
      max-width: 535px;
      font-size: 29px;
    }
    a {
      display: block;
      color: black;
      margin-right: 10px;
      margin-bottom: 5px;
      @media (min-width: 640px) {
        margin-bottom: 15px;
      }
      span {
        color: #b2b2b2;
        display: none;
      }
    }
  }

  &__list-activities {
    display: block;
    top: 50px;
    left: 17px;
    padding: 5px 5px 0 14px;
    width: 78px;
    @media (min-width: 640px) {
      max-width: 535px;
      width: 152px;
      top: 90px;
      left: 37px;
      padding: 15px 15px 0 28px;
    }
  }

  &__list-countries {
    display: block;
    top: 50px;
    left: 122px;
    padding: 5px 5px 0 14px;
    width: 78px;
    @media (min-width: 640px) {
      max-width: 535px;
      padding: 15px 15px 0 28px;
      width: 156px;
      top: 90px;
      left: 243px;
    }
  }

  &__list-cities {
    display: block;
    top: 50px;
    right: 18px;
    padding: 5px 5px 0 14px;
    width: 78px;
    @media (min-width: 640px) {
      max-width: 535px;
      padding: 15px 15px 0 28px;
      width: 156px;
      top: 90px;
      right: 38px;
    }
  }
}

