.popular-posts {

  article {
    max-width: 350px;
    @media (min-width: 1500px) {
      max-width: 522px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 13px;
    color: #a4a4a4;
    display: none;
    @media (min-width: 1500px) {
      display: block;
    }
  }

  &__list {
    @media (min-width: 1500px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .content__search {
    margin: 0 0 55px;
    display: none;
    @media (min-width: 1500px) {
      display: block;
    }
    img {
      fill: red;
    }
  }

  &__left {
    flex: 1;
    max-width: 500px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: none;
    @media (min-width: 1500px) {
      flex-direction: row;
      display: block;
    }
    article {
      max-width: 350px;
      @media (min-width: 1500px) {
        max-width: 490px;
      }
    }
  }

  &__right {
    flex: 1;
    margin-right: 20px;
    display: block;
    @media (min-width: 1500px) {
      margin-right: 0;
    }
  }

  &__item {
    position: relative;
    margin: 0 auto 30px;
    @media (min-width: 1500px) {
      margin: 0;
      margin-bottom: 27px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item-title {
    max-width: 446px;
    position: absolute;
    bottom: 2px;
    left: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, .8);
    @media (min-width: 1500px) {
      padding: 10px 17px 17px;
    }
    h4 {
      margin: 0;
      a {
        color: white;
      }
    }
    @media (min-width: 1500px) {
      bottom: 4px;
    }
  }

  #lens {
    width: 23px;
    height: 23px;
    position: absolute;
    right: 16px;
    top: 14px;
  }
}

.fl {

}

.br {
  margin-left: 2%;
}

.block {
  float: right;
  width: 80vw;
  height: 200px;
  background-color: red;
}