.post-title {
  position: relative;
  img {
    width: 100%;
  }

  &__text {
    width: 90%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 2px;
    left: 10%;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    @media (min-width: 1200px) {
      padding-top: 40px;
      padding-bottom: 20px;
      bottom: 4px;
    }

    p:first-child {
      margin-top: 0;
      margin-bottom: 10px;
      max-width: 710px;
      font-family: Roboto-Black, Arial, sans-serif;
      font-size: 2.428rem;
      padding-left: 17px;
      @media (min-width: 1200px) {
        font-size: 3.428rem;
        padding-left: 30px;
        margin-bottom: 32px;
      }
    }

    p:last-child {
      margin: 0;
      a {
        color: white;
        text-decoration: underline;
      }
      padding-left: 17px;
      @media (min-width: 1200px) {
        padding-left: 30px;
      }
    }

  }
}