.post-text {
  margin: 0 auto 20px;
  padding-top: 12px;
  padding-bottom: 22px;
  max-width: 640px;
  @media (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 45px;
    max-width: 1050px;
    margin-left: 24px;
  }
  h4 {
    font-size: 1.142rem;
  }

  &__wrap {
    @media (min-width: 1200px) {
      padding: 0;
    }
  }

  &__left-but {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    margin-bottom: 8px;
    @media (min-width: 640px) {
      font-size: 27px;
      margin-bottom: 17px;
    }
    @media (min-width: 1200px) {
      font-size: 1.143rem;
    }
    a {
      color: $accent-color;
      padding: 5px;
      border: 1px solid $accent-color;
      margin-right: 10px;
      margin-bottom: 5px;
      @media (min-width: 640px) {
        padding: 10px;
        margin-right: 21px;
        margin-bottom: 10px;
      }
      @media (min-width: 1200px) {
        margin-right: 10px;
      }
    }
  }

  &__left-content {
    font-size: 12px;
    position: relative;
    @media (min-width: 640px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      max-width: 730px;
      line-height: 24px;
      font-size: 1.143rem;
    }
    p {
      margin-top: 0;
    }
  }

  &__left-content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 28px;
    background: linear-gradient(to top, rgba(255,255,255,1) 44%,rgba(255,255,255,0) 100%);
    bottom: 0;
    left: 0;
    @media (min-width: 640px) {
      height: 56px;
    }
  }

  &__wrap-but {
    position: absolute;
    bottom: -27px;
    left: 0;
    @media (min-width: 640px) {
      bottom: -55px;
    }
    @media (min-width: 1200px) {
      bottom: -20px;
    }
  }

  &__but {
    padding-left: 0;
    margin-top: 0;
    font-family: Roboto-Black, Arial, sans-serif;
    background-color: #fff;
    border: none;
    font-size: 24px;
    color: $accent-color;
    text-decoration: underline;
    position: relative;
    cursor: pointer;
    @media (min-width: 640px) {
      font-size: 48px;
    }
    @media (min-width: 1200px) {
      font-size: 2.57rem;
    }
  }

  &__but::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid $accent-color;
    border-bottom: 10px solid transparent;
    right: -20px;
    bottom: 2px;
    @media (min-width: 640px) {
      bottom: 18px;
    }
    @media (min-width: 1200px) {
      bottom: 2px;
    }
  }

  &__photo {
    img {
      width: 70px;
      height: 61px;
      min-width: 70px;
    }
    @media (min-width: 1200px) {
      width: 92px;
    }
  }

  &__right {
    max-width: 400px;
    padding-right: 50px;
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }

  &__left {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 275px;
    @media (min-width: 640px) {
      padding: 0;
      max-width: 560px;
    }
    @media (min-width: 1200px) {
      max-width: 520px;
      margin-right: 20px;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__hidden {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
}