.post {
  margin-bottom: 29px;
  justify-content: space-between;
  @media (min-width: 1200px) {
    justify-content: flex-start;
  }

  &__photo {
    font-size: 0;
    @media (max-width: 639px) {
      width: 300px;
    }
    @media (min-width: 1200px) {
      margin-right: 30px;
    }
    img {
      @media (min-width: 1200px) {
        min-width: 270px;
        max-width: 270px;
      }
    }
  }

  &__title {
    width: 280px;
    @media (min-width: 1200px) {
      width: 100%;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__title-wrap {
    padding-left: 8px;
    @media (min-width: 1200px) {
      padding-left: 0;
    }
  }

  &__small {
    min-width: 111px;
    max-width: 220px;
    overflow: hidden;
    margin-right: 14px;
    @media (min-width: 400px) {
      min-width: 135px;
    }
    @media (min-width: 1200px) {
      min-width: 220px;
    }
  }
}

.post:last-child {
  margin-bottom: 0;
}



