.post-title {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    @media (min-width: 640px) {
      height: 440px;
    }
    @media (min-width: 1200px) {
      height: auto;
    }
  }

  &__text {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 2px;
    color: white;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 19px;
    @media (min-width: 640px) {
      bottom: 4px;
      padding-top: 32px;
      padding-bottom: 35px;
      padding-left: 38px;
    }
    @media (min-width: 1200px) {
      padding-top: 22px;
      padding-bottom: 20px;
      padding-left: 30px;
      left: 150px;
    }

    p:first-child {
      margin-top: 0;
      margin-bottom: 2px;
      max-width: 250px;
      font-family: Roboto-Black, Arial, sans-serif;
      font-size: 1.214rem;
      @media (min-width: 640px) {
        margin-bottom: 4px;
        max-width: 499px;
        font-size: 2.428rem;
      }
      @media (min-width: 1200px) {
        max-width: 710px;
        font-size: 3.428rem;
        margin-bottom: 25px;
      }
    }

    p:last-child {
      margin: 0;
      font-size: 9px;
      a {
        color: white;
        text-decoration: underline;
      }
      @media (min-width: 1200px) {
        font-size: 18px;
      }
      @media (min-width: 1200px) {
        font-size: 14px;
      }
    }

  }
}