.post-text {
  padding-left: 14%;
  padding-top: 25px;
  padding-bottom: 45px;
  max-width: 1050px;
  h4 {
    font-size: 1.142rem;
  }

  &__left-but {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.143rem;
    margin-bottom: 17px;
    a {
      color: $accent-color;
      padding: 10px;
      border: 1px solid $accent-color;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  &__left-content {
    max-width: 730px;
    font-size: 1.143rem;
    line-height: 24px;
    position: relative;
  }

  &__left-content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 56px;
    background: linear-gradient(to top, rgba(255,255,255,1) 44%,rgba(255,255,255,0) 100%);
    bottom: 0;
    left: 0;
  }

  &__wrap-but {
    position: absolute;
    bottom: -20px;
    left: 0;
  }

  &__but {
    margin-top: 0;
    font-family: Roboto-Black, Arial, sans-serif;
    background-color: #fff;
    border: none;
    font-size: 2rem;
    color: $accent-color;
    text-decoration: underline;
    position: relative;
    cursor: pointer;
    @media (min-width: 715px) {
      font-size: 2.57rem;
    }
  }

  &__but::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid $accent-color;
    border-bottom: 10px solid transparent;
    bottom: 2px;
    right: -20px;
  }

  &__photo {
    img {
      width: 70px;
      height: 61px;
      min-width: 70px;
    }
  }

  &__right {
    max-width: 400px;
    padding-right: 50px;
  }

  &__left {
    max-width: 520px;
    margin-right: 20px;
  }

  &__item {
    margin-bottom: 20px;
  }
}