.post {
  margin-bottom: 30px;
  justify-content: flex-start;

  &__photo {
    margin-right: 30px;
    img {
      min-width: 168px;
      max-width: 168px;
      @media (min-width: 1300px) {
        min-width: 270px;
        max-width: 270px;
      }
    }
  }

  &__title {
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__small {
    min-width: 135px;
    max-width: 220px;
    overflow: hidden;
    margin-right: 14px;
    @media (min-width: 1300px) {
      min-width: 220px;
    }
  }
}

.post:last-child {
  margin-bottom: 0;
}



