.related-posts {
  margin: 0 auto 63px;

  h2 {
    font-size: 1.7rem;
    text-align: center;
    @media (min-width: 640px) {
      font-size: 3.428rem;
    }
    @media (min-width: 1200px) {
      text-align: inherit;
    }
  }

  article {
    @media (min-width: 1200px) {
      max-width: 522px;
    }
  }

  &__border {
    margin-top: 40px;
    max-width: 1050px;
    border-bottom: 1px solid #cccccc;
  }
}