.top-page {
  padding: 23px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 12px;
  @media (min-width: 640px) {
    padding: 47px 41px 0;
    margin-bottom: 25px;
  }
  @media (min-width: 1200px) {
    padding: 30px 0 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    order: 2;
    margin-left: 8px;
    a:nth-child(2) {
      display: none;
    }
    a:nth-child(1) {
      position: relative;
    }
    a:nth-child(1):before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #b20000;
      border-bottom: 7px solid transparent;
      left: -12px;
      bottom: 3px;
      @media (min-width: 640px) {
        bottom: 11px;
      }
      @media (min-width: 1200px) {
        display: none;
      }
    }
    @media (min-width: 640px) {
      margin-left: 16px;
    }
    @media (min-width: 1200px) {
      order: 1;
      margin-left: 41px;
      a:nth-child(2) {
        display: inline;
      }
    }
  }

  &__search {
    width: 160px;
    height: 17px;
    margin: 13px 0 0;
    @media (min-width: 640px) {
      margin: 0;
      width: 321px;
      height: 34px;
    }
    @media (min-width: 1200px) {
      width: 271px;
    }
    input {
      font-size: 8px;
      padding: 9px 3px;
      @media (min-width: 640px) {
        font-size: 16px;
        padding: 18px 7px;
      }
      @media (min-width: 1200px) {
        font-size: 14px;
        padding: 8px 7px;
      }
    }
    img {
      top: 8px;
      right: 8px;
      @media (min-width: 640px) {
        top: 16px;
        right: 17px;
      }
      @media (min-width: 1200px) {
        top: 5px;
        right: 8px;
      }
    }
  }

  nav a {
    color: $accent-color;
    font-size: 15px;
    margin-right: 24px;
    @media (min-width: 640px) {
      font-size: 30px;
      margin-right: 48px;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
      margin-right: 24px;
    }
  }
}