.top-page {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;

  &__search {
    width: 200px;
    height: 34px;
    margin: 0;
    @media (min-width: 715px) {
      width: 271px;
    }
    input {
      font-size: 12px;
      padding: 8px 7px;
      @media (min-width: 715px) {
        font-size: 14px;
      }
    }

    img {
      top: 5px;
      right: 8px;
    }
  }

  nav a {
    color: $accent-color;
    margin-right: 24px;
  }
}